<%= javascript_pack_tag 'task' %>
<%= link_to '新規登録', new_task_path %>

<h1>Api::Tasks#index</h1>
<div id="task-list">
</div>


<div>
  <% @tasks.each do |task| %>
    <%= link_to task.name, task_path(task.id) %>
  <% end %>
</div>
